# This is Git's per-user configuration file.
[user]
# Please adapt and uncomment the following lines:
	name = Sam Hibbard
	email = hibbards01@gmail.com
[color]
    ui = auto
[color "branch"]
    current = cyan reverse
    local = magenta
    remote = green
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
[color "status"]
    added = green
    changed = red
    untracked = cyan
[mergetool "code"]
    cmd = code -w $MERGED
    trustExitCode = false
[merge]
    tool = code
    conflictstyle = diff3
[core]
    editor = code -w
